h2{
    text-align: center;
}

.icon-html-five {color: #ca4f16;
}

.codigo {
    overflow: auto;
    word-wrap: normal;
    margin: 0;
    padding: .85em 1em;
    margin-bottom: 1.275em;
    background: white;
}

.etiquetas {
    color: crimson;
    background-color: #bdaaaa7a;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
}